body {
  padding-top: 5rem;
}

#monster-list-col {
  max-width: 450px;
}

.content {
  border: solid 1px lightgrey;
  border-radius: 3px;
  height:600px;
  overflow-y:scroll;
}

.table {
  display: table;
}

.table-name {
  font-weight: bold;
}

.table-desc {
  font-size: 9pt;
  font-variant: small-caps;
  color: #6c6c6c;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

td.fit {
  width: 1%;
  white-space: nowrap;
}

.outlined {
  border: solid 1px lightgrey;
  border-radius: 3px;
}

#encounter-list {
  max-width: 475px;
  padding-left: 0px;
}

/* Badge outlines */
.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

.badge-outline.badge-warning {
  border-color: #ffeb67;
  color: #ffeb67;
}

.badge-outline.badge-danger {
  border-color: #de5244;
  color: #de5244;
}
