.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

.badge-outline.badge-warning {
  border-color: $warning;
  color: $warning;
}

.badge-outline.badge-danger {
  border-color: $error;
  color: $error;
}

.badge-outline.badge-info {
  border-color: $info;
  color: $info;
}
