$warning: #ffeb67;
$error: #de5244;
$info: #5bc0de;
$grey: #c9c9c9;
$background-grey: #eceeef;
$lightest-blue: #ebeff5;

// Coolers color scheme
$gunmetal: #2B2D42;
$grey-blue: #8D99AE;
$offwhite: #EDF2F4;
$red: #EF233C;
$medium-red: #D90429;
