#monster-list-col {
  max-width: 450px;
}

.content {
  border: solid 1px lightgrey;
  border-radius: 3px;
  height:600px;
  overflow-y:scroll;
}

.table {
  display: table;
}

.table-name {
  font-weight: bold;
}

.table-desc {
  font-size: 9pt;
  font-variant: small-caps;
  color: #6c6c6c;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

td.fit {
  width: 1%;
  white-space: nowrap;
}

.outlined {
  border: solid 1px lightgrey;
  border-radius: 3px;
}

.one-col-size {
  max-width: 450px;
}

.two-col-size {
  max-width: 900px;
}

.dropdown-container {
  position: relative;
}

.scrollable {
  height: calc(100vh - 80px);
  overflow: scroll;
}

#statblock-form {
  max-width: 800px;
}

#encounter-list {
  max-width: 475px;
  padding-left: 0px;
}

/* the encounter page */
#statblock-area {
  white-space: nowrap;
  margin-right: 20px;
}

.encounter-statblock {
  padding-left: 20px;
  margin-right: 20px;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

/* Badge outlines */
.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

.badge-outline.badge-warning {
  border-color: #ffeb67;
  color: #ffeb67;
}

.badge-outline.badge-danger {
  border-color: #de5244;
  color: #de5244;
}

.badge-outline.badge-info {
  border-color: #5bc0de;
  color: #5bc0de;
}
