@import 'variables';
@import 'badge-outline';
@import 'editor';
@import 'textexpanding';
@import 'toggles';

.no-side-padding {
    padding-left: 0;
    padding-right: 0
}

.no-rounded-corners {
  border-radius: 0;
}

@mixin invis-top-border($pad) {
  border-top-width: 0;
  padding-top: calc(#{$pad} + 1px);

  &:focus {
    border-top-width: 1px;
    padding-top: $pad;
  }
}

@mixin invis-bottom-border($pad) {
  border-bottom-width: 0;
  padding-bottom: calc(#{$pad} + 1px);

  &:focus {
    border-bottom-width: 1px;
    padding-bottom: $pad;
  }
}

@mixin invis-left-border($pad) {
  border-left-width: 0;
  padding-left: calc(#{$pad} + 1px);

  &:focus {
    border-left-width: 1px;
    padding-left: $pad;
  }
}

@mixin invis-right-border($pad) {
  border-right-width: 0;
  padding-right: calc(#{$pad} + 1px);

  &:focus {
    border-right-width: 1px;
    padding-right: $pad;
  }
}

.no-dup-top {
  @include invis-top-border(0.5rem);
}

.no-dup-bottom {
  @include invis-bottom-border(0.5rem);
}

.no-dup-left {
  @include invis-left-border(0.75rem);
}

.no-dup-right {
  @include invis-right-border(0.75rem);
}

.no-dup-borders {
  @include invis-top-border(0.5rem);
  @include invis-bottom-border(0.5rem);
  @include invis-left-border(0.75rem);
  @include invis-right-border(0.75rem);
}

.border-right {
  border-right: 1px solid $grey;
}

#monster-list-col {
  max-width: 450px;
}

.content {
  border: solid 1px lightgrey;
  border-radius: 3px;
  height:600px;
  overflow-y:scroll;
}

.table {
  display: table;
}

.table-name {
  font-weight: bold;
}

.table-desc {
  font-size: 9pt;
  font-variant: small-caps;
  color: #6c6c6c;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

td.fit {
  width: 1%;
  white-space: nowrap;
}

.outlined {
  border: solid 1px lightgrey;
  border-radius: 3px;
}

.dropdown-container {
  position: relative;
}

#encounter-list {
  max-width: 475px;
  padding-left: 0px;
}

.btn-circle {
  font-weight: bold;
  height: 30px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 30px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-form {
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}

// Overriding bootstrap for theme settings

.navbar {
  background-color: $gunmetal;
}

.input-group-addon {
  background-color: $offwhite;
}

/* the encounter page */
#statblock-area {
  white-space: nowrap;
  margin-right: 20px;
}

.encounter-statblock {
  padding-left: 20px;
  margin-right: 20px;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
