#live-statblock {
  padding: 10px;
  overflow-x: scroll;
}

.editor-pane {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#editor-row {
  margin: 0;
  height: calc(100vh - 139px); // magic number
  max-width: 100%;
  border-top: $border-grey solid 1px;
}

#statblock-form {
  background-color: $background-grey;
}

.statblock-input-group {
  background-color: white;
  border-bottom: 1px solid $border-grey;
  border-right: 1px solid $border-grey;
  margin: 0;
}

.stacked-text-blocks {
  width: 100%;
  padding: 0;
}

.ability-field {
  width: 100% !important;
  border-radius: 0px;
}

.trait-dropdown {
  border-top: 0px;
  border-bottom: 0px;
  min-width: calc(80px + 2rem);
  border-color: $border-grey;
  background-color: white;
}

.ability-score-input {
  padding-left: 25px;
}

.statblock-input-group-part {
  border-bottom: 0px;
}

.movement-handle {
  padding: 0.5rem 0.75rem;
  align-items: center;
  display: inline-flex;
  background-color: $offwhite;
}

.inline-input-span {
  border-left: 1px solid $border-grey;
  padding: 0;
}

.background-box {
  text-align: center;
  background-color: $background-grey;
  border-left: $border-grey solid 1px;
  padding: .5rem .75rem;
}

#editor-side {
  border-right: 1px solid $border-grey;
}

.form-label {
  width: 100%;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  font-size: .7rem;
  font-weight: bold;
  color: $grey-blue;
  background-color: white;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  border: 1px solid $border-grey;
  border-top: none;
}

.switch-label {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  font-size: .7rem;
  font-weight: bold;
  color: $grey-blue;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3px;
}

.editor-ul {
  margin-bottom: 0;
  padding: 0;
}

#display-name {
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 36px;
  // margin-top: 0.5rem;
}

.tag-list {
  min-height: 28px;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;

  li {
    height: 22px;
    float: left;
    background-color: $offwhite;
    color: rgb(65, 68, 78);
    margin-right: 0.5rem;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.center-form {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  min-height: 4rem;
}

.force-show {
  display: inherit !important;
}

.force-hide {
  display: none !important;
}

// Utilities for making things visible based on window size and statblock cols
$one-col-breakpoint: 1000px;
$two-col-breakpoint: 1500px;

.one-col-small-hidden {
  @media (max-width: $one-col-breakpoint) {
    display: none;
  }
}

.two-col-small-hidden {
  @media (max-width: $two-col-breakpoint) {
    display: none;
  }
}

.one-col-small-visible {
  @media (min-width: $one-col-breakpoint) {
    display: none;
  }
}

.two-col-small-visible {
  @media (min-width: $two-col-breakpoint) {
    display: none;
  }
}
